{
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "commonjs": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "airbnb"
}