.text-ellipse{
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow:ellipsis;
}

.border-scale-b { 
  position: relative; 
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-scale-b:after { 
      bottom:0;
      left:0;
      width:100%;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position:absolute;
      background:#eee;
      height: 1px;
      transform: scaleY(0.5);
     }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-scale-b:after { 
           width:100%;
      box-sizing: border-box;
      content: '';
      point-events: none;
      background:#eee;
      position:absolute;
      height: 1px;
      transform: scaleY(0.333);
     }
}
